* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(
      rgba(12, 12, 12, 0.3),
      rgba(12, 12, 12, 0.7)
    ), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* MENU */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f8f9fa;
    text-align: center;
    padding: 13.5px 16px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px 0px;
}

footer a {
    color: black;
}

footer a:hover {
    color: #333;
}

footer .taskify {
    font-family: 'Cookie', cursive;
}

/* LOG-IN-REGISTER */
.login-register form {
    max-width: 350px;
    margin: 0 auto;
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
    color: white;
}

.login-register form input[type="text"],
.login-register form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.login-register form button {
    background-color: #f8f9fa;
    color: black;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login-register form button:hover {
    background-color: #afafaf;
}

.login-register a {
    color: #afafaf;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    margin: 20px 15px;
    min-height: 67.5svh;
}

/* HOME */
main .home-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #f8f9fa;
    text-align: center;
}

main .home-title h1 {
    font-family: 'Cookie', cursive;
    font-size: xxx-large;
}

/* TASK */
/* TASK BUTTONS */
main .dropdown {
    display: inline-block;
    position: relative;
}

main .dropbtn {
    font-size: small;
    background-color: #333;
    color: white;
    padding: 10px 14px;
    border-radius: 5px;
    text-decoration: none;
}

main .dropbtn:hover {
    background-color: #555;
}

main .dropdown-content {
    width: 150px;
    margin-top: 8px;
    font-size: small;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main .dropdown:hover .dropdown-content {
    display: block;
}

main .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

main .dropdown-content a:hover {
    background-color: #777;
    border-radius: 5px;
}

main .tag-list {
    position: relative;
}

main .side {
    position: absolute;
    right: 0;
    top: 0;
}

/* TASK LIST */
main .task-container {
    text-align: center;
}

main .task-list {
    display: inline-grid;
    margin: 20px 10px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

main .list {
    padding: 25px;
    border-radius: 15px;
    text-align: left;
    overflow: hidden;
    background-color: #333;
}

main .list:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

main .list-title {
    text-align: center;
}

main .list-title a {
    color: white;
}

main .list li {
    list-style-type: none;
}

main .list a {
    text-decoration: none;
    font-size: medium;
}

main .list a.completed-task {
    color: #afafaf;
    text-decoration: line-through;
}

main .list a:hover {
    text-decoration: underline;
}

main .task-list p {
    font-size: x-small;
    color: white;
}

main p.tags {
    color: #afafaf;
}

/* TASK CRUD */
main .form-container {
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 10px;
    color: white;
}

main .form-container input[type="text"],
main .form-container input[type="date"],
main .form-container select {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

main .form-container textarea {
    width: 100%;
    height: 92px;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

main a.sbs {
    float: right;
    text-decoration: none;
    color: white;
}

main a.sbs:hover {
    text-decoration: underline;
}

main .cds-button,
main .back-button {
    font-size: small;
    background-color: #f8f9fa;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

main #back-link {
    text-decoration: none;
    color: black;
}

main .cds-button:hover,
main .back-button:hover {
    background-color: #afafaf;
}

main .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    text-align: center;
}

/* PAGINATION */
.pagination-container {
    margin-top: 20px;
    position: absolute;
    top: 47.5px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px 0 0;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.page-link:hover {
    background-color: #aaa;
    border-radius: 5px;
}

.page-item.disabled {
    pointer-events: none;
}

.page-item.active {
    pointer-events: none;
    background-color: #333;
}

.page-item.active .page-link {
    color: white;
}

/* Responsiveness */
/* Responsiveness */
@media (max-width: 1920px) {
    main {
        min-height: 79.8svh;
    }
}

@media (max-width: 1366px) {
    main {
        min-height: 71.8svh;
    }
}

@media (max-width: 768px) {
    main {
        min-height: 75svh;
    }
}

@media (max-width: 576px) {
    main {
        min-height: 80svh;
    }

    main .task-container {
        margin-top: 50px;
    }

    main .task-list {
        width: 90%;
    }

    .pagination-container {
        top: 97.5px;
    }
}

@media (max-width: 442px) {
    main {
        min-height: 93svh;
    }
    .home-title {
        margin-top: 50px;
    }
}