{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Edit Tag {% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="sbs">Edit Tag</h2>
        <hr>
        <br>
        <form method="post" action="" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="cds-button">Save</button>
            <a href="{% url 'task' %}" class="back-button" id="back-link">Back to Tasks</a>
        </form>
    </div>
{% endblock %}
