{% extends 'base.html' %}

{% block content %}
    <div class="home-title">
        <h1>
            Elevating Your Productivity, 
            <br>
            One Task at a Time!
        </h1>
        <br>
        <p>
            Taskify is your simple and user-friendly task management app. 
            Effortlessly create, track, and organize tasks with customizable tags and due dates. 
            Stay focused and achieve your goals seamlessly. 
            Taskify simplifies task management for efficiency and productivity.
        </p>
    </div>
{% endblock %}